<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="images/weather.png">
  <link rel="stylesheet" href="css/styles.css">
  <title>About Me</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by {{name}}.</p>
    <p>
      It uses data from <a href="https://www.mapbox.com/"> mapbox.com</a> and <a
        href="https://darksky.net/">darksky.net</a>.
    </p>
    <p>
      This site was built using <a href="https://nodejs.org/en/">Node.js</a>,
      <a href="http://expressjs.com/">Expressjs</a>,
      and <a href="js.com/package/hbs">handlebars.js</a>
    </p>
    <p>The code for this project can be found <a href="https://github.com/TonyFwin/node-weather-website">here</a>.</p>
    <img class="portrait" src="images/tony_avatar.png" alt="Avatar of Tony Nguyen">
  </div>

  {{>footer}}
</body>

</html>